{% extends "base.html.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <main>
        <div class="combination">{{ combination }}</div>

        <div class="dice-row">
            <div class="dice"><i class="fa-solid fa-dice-{{ dice_one }}"></i></div>
            <div class="dice"><i class="fa-solid fa-dice-{{ dice_two }}"></i></div>
            <div class="dice"><i class="fa-solid fa-dice-{{ dice_three }}"></i></div>
            <div class="dice"><i class="fa-solid fa-dice-{{ dice_four }}"></i></div>
            <div class="dice"><i class="fa-solid fa-dice-{{ dice_five }}"></i></div>
        </div>

        <div class="two-col-grid one-to-one">
            <a class="card button" href="{{ path('lucky_roll') }}">Roll</a>
            <a class="card button" href="{{ path('lucky_reset') }}">Reset</a>
        </div>

        <div class="flex-row space-between">
            <h2>You rolled: {{ points }} points</h2>
            <h2>High score: {{ high_score }}</h2>
        </div>
    </main>
{% endblock %}